.container {
  color: var(--neutral-50);
  background-color: var(--emerald-600);
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.8rem;
  padding: 1.6rem;
  border: none;
  gap: 0.8rem;
  border-radius: 8px;
  box-shadow: none;
  cursor: pointer;
  transition: 0.1s;
}

.container:not(:disabled):hover {
  background-color: var(--emerald-500);
}

.container:disabled {
  cursor: not-allowed;
}
