:root {
    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --neutral-950: #0a0a0a;

    --emerald-500: #10b981;
    --emerald-600: #059669;

    --rose-500: #f43f5e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media (max-width: 768px) {
    html {
        font-size: 54.6875%;
    }
}

body {
    background-color: var(--neutral-900);
    color: var(--neutral-50);
}

body,
input,
textarea,
button {
    font: 400 1.6rem "Inter", sans-serif;
}
